* {
    max-width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f6d8ac;
    color: #2a6592;
}

img {
    margin-left: 100px;
}

h1 {
    color: #7e9a9a;
}

h2 {
    color: #db9833;
}